/*font family*/
*{
  font-family: 'Gafata', sans-serif;
}

/*navbar coloring*/
.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

/*index.html*/
#margarita{
  font-size: 5em;
  text-align: center;
}
#sub{
  font-size: 0.4em;
}

#description{
  font-size: 1.15em;
}

#foto{
  width: 100%;
}

.skills{
  font-size: 1.3em;
}

.pink{
  color: #e74c3c;
}

/*projects.html*/
.project-img{
  width: 30em;
  padding: 0em 0em;
}

.project-description-title{
  font-weight: 600;
}

.project-description{
  text-align: justify;
  padding: 1em 1em;
}

.panel-title{
  font-weight: 600;
}

.repository{
  margin: 0em 0em;
}

.btn-tech{
  width: 3em;
  height: 3em;
  margin: 0.3em 0.15em;
}

.btn-icon{
  padding: 0.2em 0.1em;
}

.panel-body{
  padding: 0.3em 1em;
}

#btnnodered{
  padding: 0.2em 0.5em;
}

#btnjava{
  padding: 0em 0em;
}

#btnpostgresql{
  padding: 0em 0em;
}

#btnmongo{
  padding: 0em 0em;
}

#btnjs{
  padding: 0em 0em;
}

#btnplay{
  padding: 0em 0.25em;
}

#btnarduino{
  padding: 0em 0em;
}

#btnmatlab{
  padding: 0em 0em;
}

#btnsqldeveloper{
  padding: 0em 0em;
}

#btnwildfly{
  padding: 0em 0em;
}

#btnangular{
  padding: 0em 0em;
}

#btnauth0{
  padding: 0em 0em;
}

.java-icon{
  width: 3em;
}

.node-red-icon{
  width: 2em;
  filter: grayscale(100%);
}

.js-icon{
  width: 2em;
  filter: grayscale(100%);
}

.postgresql-icon{
  width: 2em;
  filter: grayscale(100%);
}

.mongo-icon{
  width: 3em;
  filter: grayscale(100%);
}

.play-icon{
  width: 1.4em;
  filter: grayscale(100%);
}

.arduino-icon{
  width: 2.5em;
  filter: grayscale(100%);
}

.matlab-icon{
  width: 2em;
}

.wildfly-icon{
  width: 3em;
  filter: grayscale(100%);
}

.sqldeveloper-icon{
  width: 2.5em;
  filter: grayscale(100%);
}

.angular-icon{
  width: 2em;
  filter: grayscale(100%);
}

.auth0-icon{
  width: 3em;
  filter: grayscale(100%);
}

/*resume.html*/

.boton-cv{
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.fa-file-text{
  padding-top: 0.1em;
  color: #e74c3c;
}

#cv-button-text{
  padding: 0em 0em;
  font-weight: bold;
  color: #e74c3c;
}

#portales{
  padding-top: 0.7em;
}

.containertm{
  width: 100%;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #fff;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #e74c3c;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image-blanco {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: white;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/*faq.html*/
.answer{
  font-size: 1.2em;
}

.question{
  font-size: 1.4em;
}

/*contact.html*/
.boton-contact{
  float: left;
  margin: 20px;
  padding: 10px;
}
